<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-item href="#/tabs/account/lang">
        <i class="icon ion-document"></i>
        <!--<select ng-options="language | translate for language in languages" ng-value="language" ng-model="language" ng-change="updateLanguage(language)"></select>-->
      aaaaa
      </ion-item>
      <ion-item ng-click="">
        <i class="icon ion-person"></i>
        User Profile
      </ion-item>
      <ion-item ng-click="">
        <i class="icon ion-information-circled"></i>
        About
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
