<ion-view view-title="{{ 'settings.user profile.title' | translate}}">
  <ion-content>
    <ion-item >
      <ion-item class="item-avatar-left item-text-wrap">
        <img ng-src="img/ben.png" alt="Poster" class="customized-image">
        <h2>Ben Sparrow</h2>
        <h2>Something else</h2>
        <p>your large content goes here</p>
      </ion-item>
    </ion-item>
    <ion-item >
      {{ 'settings.user profile.organized' | translate}}
    </ion-item>
    <ion-item >
      {{ 'settings.user profile.participated' | translate}}
    </ion-item>
    <ion-item >
      {{ 'settings.user profile.upcoming' | translate}}
    </ion-item>
  </ion-content>
</ion-view>
